/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html{
	scroll-behavior: smooth;
}


body {
	padding-bottom: 3rem;
	color: #5a5a5a;
	position: relative;
}

body p{
font-family: 'Roboto Condensed', sans-serif;
font-size:17px;
}



/*NAVIGATION*/
.navbar-brand h1{
	color: #de4710 !important;
	font-family: 'Aktura', serif;
	font-size: 55px !important;
	padding: 20px 0 0 20px;
  transition:.1s;
}
.navbar-brand h1:hover{
  text-shadow: 3px 5px 3px rgba(0,0,0,0.18);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.navbar-brand h1:active {
  text-shadow: 5px 2px 3px rgba(0,0,0,0.10);
}

.navbar {
background-color: #f7f2e9;
}

.navbar .dropdown-menu{
  background-color:#F7F5E9;
  background-image: url("img/news-background2.png");
	/*background-image: url("https://www.transparenttextures.com/patterns/skulls.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-bottom:2em;
}

.navbar .nav-link {
	font-size: 19px;
	font-family: 'Prata', serif;
	color: #011F5B !important;
}
.navbar .dropdown-header {
  font-family: 'Prata', serif;
  font-size: 23px;
  color:#de4710;
}


.navbar .dropdown-item {
	color: #011F5B !important;
  font-family: 'Roboto Condensed', sans-serif;
}


/*--SVG NAV--*/
.custom-shape-divider-top-1663710033 {
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	z-index: 2;
}

.custom-shape-divider-top-1663710033 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 38px;
}

.custom-shape-divider-top-1663710033 .shape-fill {
	fill: #f7f2e9;
}



/*JAVASCRIPT REVEAL EFFECT*/

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}



/*CAROUSEL COLOUR OVERLAY TINT AND CAROUSEL CONTROLS*/
.overlay:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,011f5b+69,011f5b+69,011f5b+70,011f5b+70,011f5b+71,011f5b+75&0+0,1+65 */
	background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(8, 40, 99, 1) 65%, rgba(1, 31, 91, 1) 69%, rgba(1, 31, 91, 1) 70%, rgba(1, 31, 91, 1) 71%, rgba(1, 31, 91, 1) 75%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(8, 40, 99, 1) 65%, rgba(1, 31, 91, 1) 69%, rgba(1, 31, 91, 1) 70%, rgba(1, 31, 91, 1) 71%, rgba(1, 31, 91, 1) 75%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(8, 40, 99, 1) 65%, rgba(1, 31, 91, 1) 69%, rgba(1, 31, 91, 1) 70%, rgba(1, 31, 91, 1) 71%, rgba(1, 31, 91, 1) 75%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#011f5b', GradientType=0);
	/* IE6-9 */
}



.carousel .carousel-inner {
	height: 100vh;
}

.carousel-inner .carousel-item img {
	min-height: 100vh;
	/*prevent it from stretch in screen size < than 768px*/
	object-fit: cover
}

@media(max-width:1200px) {
	.carousel .carousel-inner {
		/*prevent it from adding a white space between carousel and container elements*/
		height: auto
	}
}

/*STICKY OR FLOATING SOCIALS*/

.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 999;
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}

.icon-bar a:hover {
	background-color: #0E0E0E;
}

.facebook,
.twitter,
.google,
.linkedin,
.youtube {
	background-color: #de4710;
	margin-bottom: 0px;
}

.facebook:hover {
	color: white;
}

.twitter:hover {
	color: white;
}

.linkedin:hover {
	color: white;
}


/*WELCOME CENTRE TEXT*/
.school-welcome {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	text-align: center;
	z-index: 1;
}

.school-welcome img {
	height: 120px;
}

.school-welcome h1 {
	font-size: 86px;
	font-family: 'Aktura', serif;
	color: #FFFFE3;
}

.school-welcome h2 {
	font-size: 25px;
	font-family: 'Prata', serif;
	color: #FFFFFF;
}


/*MEDIA QUERY FOR WELCOME HEADER TEXT*/
@media(max-width:1024px) {
	.school-welcome img {
		height: 140px;
	}

	.school-welcome h1 {
		font-size: 60px;
	}

	.school-welcome h2 {
		font-size: 18px;
	}

}

@media(max-width:850px) {
	.school-welcome img {
		height: 120px;
	}

	.school-welcome h1 {
		font-size: 40px;
		width: 100%;
	}

}

@media(max-width:700px) {
	.school-welcome h3 {
		display: none;
	}

	.school-welcome h2 {
		font-size: 15px;
	}
}

@media(max-width:450px) {
	.school-welcome img {
		height: 100px;
	}

	.school-welcome h1 {
		font-size: 35px;
	}
}


/* headlines with lines */
.decorated {
	overflow: hidden;
	text-align: center;
}

.decorated>span {
	position: relative;
	display: inline-block;
}

.decorated>span:before,
.decorated>span:after {
	content: '';
	position: absolute;
	top: 50%;
	border-bottom: 2px solid;
	width: 591px;
	/* half of limiter*/
	margin: 0 20px;
}

.decorated>span:before {
	right: 100%;
}

.decorated>span:after {
	left: 100%;
}


/*NEW SCROLLER CHEVRON*/
.scroll-downs {
	position: absolute;
	top: 400px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 34px;
	height: 55px;
	z-index: 1;

}

.scroll-downs:hover {
	cursor: pointer;
}

.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #fff;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

@keyframes move {
	25% {
		opacity: 1;

	}

	33% {
		opacity: 1;
		transform: translateY(30px);
	}

	67% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

.scroll-downs .text {
	display: block;
	margin-top: 75px;
	margin-left: -30px;
	font-family: 'Prata', serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	opacity: .25;
	animation: pulse 2s linear alternate infinite;
}


@keyframes pulse {
	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 650px) {
	.scroll-downs {
		display: none;
	}
}

/*END OF NEW SCROLL ICON*/



/* CONTENT QUOTES AND FEATURETTES */


.welcome .container-fluid {
  background-color: #011F5B;
	position: relative;
	padding: 5rem;
}


.welcome .featurette-headings {
	font-weight: 300;
	font-size: 45px;
	text-align: left;
	line-height: 1;
	letter-spacing: -.05rem;
	font-family: 'Prata', serif;
	color: #FBFBFD;
}


.welcome .featurette img {
	width: 100%;
	height: auto;
	border-radius: 13px;
	transition: 0.30s;
	-webkit-transition: 0.30s;
	-moz-transition: 0.30s;
	-ms-transition: 0.30s;
	-o-transition: 0.30s;
}
.welcome .featurette img:hover {
	width: 100%;
	height: auto;
	border-radius: 13px;
	transform:scale(1.03);
}


.welcome .container-fluid h3 {
	color: silver;
}

.welcome .featurette p {
	color: silver;
}

/*quote*/
.welcome .col-md-7 img {
	height: 110px;
	width: 110px;
	position: absolute;
	top: -60px;
	left: -50px;
}

/*red vertical bar before sub header text*/
.welcome p::before {
	content: "| ";
	color: #de4710;
	font-weight: 900;
}

.welcome .btn {
	border-radius:3px;
	-webkit-box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.17);
	padding: 0.8em 1.2em;
	background-color: #de4710;
	color: #FBFBFD;
	font-weight: 600;
	font-size: 18px;
  transition: 0.30s;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
}

/* visited link */
.welcome .btn a:link {
  text-decoration: none;
}
.welcome .btn a:visited {
  color: #00FF00;
}





.welcome .btn:hover {
	border-radius:50%;
	border:1px solid #de4710;
	color: #de4710;
	background-color: #fff;
	-webkit-box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.35);
	box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.35);
	transform: rotate(360deg);
}

.welcome .btn:active {
  color: #00FF00;
  box-shadow: 5px 2px 3px rgba(0,0,0,0.40);
}



.welcome .container-fluid-2 {
	background-color: #0E0E0E;
	position: relative;
}

.welcome .container-fluid-2 h3 {
	color: silver;
}

.welcome .container-fluid-2 .featurette p {
	color: silver;
}

.welcome.container-fluid-2 .featurette {
	background-color: #FBFBFD;
	border-radius: 0px;
	width: 90%;
}

.welcome.container-fluid-2 .featurette-headings {
	font-weight: 300;
	font-size: 45px;
	text-align: left;
	line-height: 1;
	letter-spacing: -.05rem;
	font-family: 'Prata', serif;
	color: #FBFBFD;
}


.welcome .container-fluid-2 {
  background-color: #011F5B;
	padding: 1em;
}

.welcome .container-fluid-2 .right-align {
	text-align: left;
}

.welcome .container-fluid-2 .col-md-7 img {
	height: 110px;
	width: 110px;
	position: absolute;
	top: -70px;
	transform: rotate(180deg);


}

.welcome .container-fluid-2 .col-md-5 {
	z-index: 1;
}

.welcome .container-fluid-2 .col-md-7 {
	z-index: 1;
}


/*red vertical bar before sub header text*/
.welcome .container-fluid-2 p::before {
	content: "| ";
	color: #de4710;
	font-weight: 900;
}


/*media query to readjust feature quote texts just after carousel*/
@media only screen and (max-width:450px) {

  .welcome .featurette-headings {
  	font-size:35px;
  }

  }


/*SVG NUMBER ONE ABOVE BOX MENU*/

.svg-container {
	position: relative;

}

.custom-shape-divider-bottom-1666019128 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666019128 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1666019128 .shape-fill {
    fill: #F7F2E9;
}

/*BOX MENUS*/
.box-menu {
	position: relative;
  background-color: #f7f2e9;

}


.box-menu .container-fluid-3 {
	position: relative;

}

.box-menu .featurette-headings {
	color: #011F5B;
	font-family: 'Prata', serif;
	font-size: 45px;

}

.box-menu .card {
	border: none;
	background-color: #f7f2e9;
}

.box-menu .card-body {
	background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
	background-color: #011F5B;
	transition: .5s;
	border-radius: 13px;
	margin:20px;
	padding:32px;
	transform: translate(0px,-50px);/*OVERLAPPING DIVS OVER IMAGE*/
	-webkit-box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.30);
	box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.30);

}

.box-menu .card-body:hover {
	-webkit-box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.40);
	box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.40);
}

.box-menu .card-title {
	/*color:#0E0E0E;*/
	color: #FBF8F4;
	font-family: 'Prata', serif;
	font-size: 25px;
}

.box-menu .card-text {
	color: #FBF8F4;
	font-size: 17px;
	font-weight:900;
	display:-webkit-box; /*restricting text to oneline*/
	-webkit-line-clamp:1;/*restricting text to oneline*/
	-webkit-box-orient:vertical;/*restricting text to oneline*/
	overflow:hidden;/*restricting text to oneline*/

}

.box-menu .container-fluid-3 .row {
  background-color: #f7f2e9;
	padding: 1em;
	border-radius: 0px;
}
/*code to keep image within div for zooming in within rather than outside div*/
.box-menu .container-fluid-3 .card {
	 position: relative;
	 overflow: hidden;
	 border-radius: 10px;

}

.box-menu .container-fluid-3 .card img {
	width: 100%;
	height: auto;
	transition: all 0.4s;
}

.box-menu .container-fluid-3 .card img:hover{
    transform: scale(1.1);
  }


.box-menu .btn {
	-webkit-box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.17);
	padding: 0.8em 1.2em;
	background-color: #de4710;
	color: #FBFBFD;
	font-weight: 600;
	font-size: 18px;
  transition: 0.30s;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
}

.box-menu .btn:hover {
  border-radius:50%;
	border:1px solid #de4710;
	color: #de4710;
	background-color: #fff;
	-webkit-box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.35);
	box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.35);
  transform: rotate(360deg);
}
.box-menu .btn:active {
  color: #00FF00;
  box-shadow: 5px 2px 3px rgba(0,0,0,0.40);

}


/*SHAPE ABOVE NEWS*/
.custom-shape-divider-bottom-1666019949 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666019949 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1666019949 .shape-fill {
    fill: #FFFFFF;
}



/*NEWS CARD SECTION*/
.news-and-events{
	padding: 5rem 0rem 5rem 0rem;

}
.news-and-events h3{
  color:silver;
  font-size: 35px;
  padding-bottom:5px;
  font-weight:200;
}
.news-and-events .carousel-inner {
	height: auto;
}
.news-and-events .carousel-indicators{
  color: #ff670f;
  position:absolute;
  bottom:100px;
  left:400px;
}


.news-and-events .card-block {
	font-size: 1em;
	margin: 0;
	padding: 3em;
  height:auto;
	border-radius: 13px;
	box-shadow: none;
  background-color:#011F5B;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  transform: translate(-50px,35px);/*OVERLAPPING DIVS*/
	-webkit-box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.50);
	box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.50);
}


.news-and-events .card {
	border: none;
}



.news-and-events .featurette-headings {
	font-size: 45px;
	text-align: left;
	line-height: 1;
	letter-spacing: -.05rem;
	font-family: 'Prata', serif;
	color: #011F5B;
	padding-left: 3rem;
  padding-top:3rem;
}

.news-and-events .card-block .featurette-headings-inner {
	font-size: 45px;
	text-align: left;
	line-height: 1;
	letter-spacing: -.05rem;
	font-family: 'Prata', serif;
  color: #ff670f;
}

.news-and-events .card-block p {
	font-size: 20px;
	color: #ffffff;
	padding-top: 15px;

}

.news-and-events img {
	border-radius: 7px;
  transform: translate(50px,0px);/*OVERLAPPING DIVS*/
}


.news-and-events .btn {
	-webkit-box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.17);
	padding: 0.8em 1.2em;
	background-color: #de4710;
	color: #FBFBFD;
	font-weight: 600;
	font-size: 18px;
  transition: 0.30s;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
}

.news-and-events .btn:hover {
	border-radius:50%;
	border:1px solid #de4710;
	color: #de4710;
	background-color: #fff;
	-webkit-box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.35);
	box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.35);
  transform: rotate(360deg);
}
.news-and-events .btn:active {
  color: #00FF00;
  box-shadow: 5px 2px 3px rgba(0,0,0,0.40);
}

.news-and-events .box-menu-row {
	background: rgba(255, 255, 255, 0.5);
	padding: 3em;
}

.news-and-events .carousel-item {
	z-index: 1;

}

.news-and-events .carousel-control-prev,
.news-and-events .carousel-control-next {
	top: 45%;
}

.news-and-events .carousel-control-prev {
	left: 68%;
}
.news-and-events .carousel-control-next {
right: 5%;
}


.news-and-events .carousel-inner .carousel-item img {
	min-height: 500px;
	object-fit: cover;
	/*prevent it from stretch in screen size < than 768px*/

}
@media(max-width:575px) {
  .news-and-events .card-block {
    transform: translate(0px,-10px);/*OVERLAPPING DIVS*/
    border-radius: 0px 0px 7px 7px;
  }
  .news-and-events img {
    transform: translate(0px,0px);/*OVERLAPPING DIVS*/
  }

  .news-and-events .carousel-control-prev,
  .news-and-events .carousel-control-next {
  	top: 45%;
  }

  .news-and-events .carousel-control-prev {
  	left: 10%;
  }
  .news-and-events .carousel-control-next {
  right: 15%;
  }


}


/*SVG SHAPE UNDER NEWS CAROUSEL ABOVE CALENDAR*/
.custom-shape-divider-top-1666019601 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1666019601 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1666019601 .shape-fill {
    fill: #FFFFFF;
}


/*CALENDAR AND SCHEDULE*/
.calendar {
	background-color: #de4710;
	/*background-image: url("img/background-fade1.png");*/
	/*background-image: url("https://www.transparenttextures.com/patterns/skulls.png");*/
	background-image: url("img/orange-background.jpg");
	background-repeat:no-repeat;
	background-size: auto;
	background-position: right;
	padding: 10rem 5rem 15rem 5rem;

}
/* visited link */
.calendar a {
  color: #F8F9FA;
	font-size: 30px;

}

.calendar a:visited {
  color: #FBFBFD;
}


.calendar h3 {
	font-family: 'Prata', serif;
	font-size: 20px;
}

.calendar h3:hover {
	color: #011F5B;
}

.calendar .featurette-headings {
	color: #fff;
	font-family: 'Prata', serif;
	font-size: 45px;
}

.calendar .mt-100 {
	margin-top: 100px;
}

.calendar .mb-100 {
	margin-bottom: 100px;
}

.calendar .card {
	background-color: #F8F9FA;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid transparent;
	border-radius: 13px;
	padding:10px 10px 10px 0;
	-webkit-box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.15);
	transition:0.3s;
}
.calendar .card:hover{
	-webkit-box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 3px 7px 15px 0px rgba(0, 0, 0, 0.25);
	transform: translate(5px,-5px);/*OVERLAPPING DIVS OVER IMAGE*/

}

.calendar .card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.calendar .card .card-title {
	position: relative;
	font-weight: 600;
	margin-bottom: 10px;
}

.calendar ul.list-style-none li {
	list-style: none;
}

.calendar ul.list-style-none li a {
	color: #de4710;
	padding: 8px 0px;
	display: block;
	text-decoration: none;
}

.calendar .m-t-5 {
	margin-top: 5px;
}

.calendar .w-30px {
	width: 30px;
}

.calendar .blue {
	background-color: #011F5B;
	text-align: center;
	color: #ffffff;
	padding: 3px;
	font-family: 'Prata', serif;
}

.calendar .beige {
	background-color: #F7F5E9;
	padding: 10px;
	font-family: 'Prata', serif;
}

.calendar .fa-arrow-right {
	color: #011F5B;
}

.calendar .text-calendar {
	color: #637497;
}


/*SHAPE ABOVE SOCIAL FEED*/
.custom-shape-divider-bottom-1666018589 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666018589 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 174px;
}

.custom-shape-divider-bottom-1666018589 .shape-fill {
    fill: #ffffff;
}

/*TWITTER FEED SECTION*/
#social-section {
	position: relative;
	background-color: #ffffff;

}

#social-section .container-fluid .row {
	background-color: #ffffff;
}

#social-section h4 {
	padding-left: 1em;
	color: #011F5B;
	font-family: 'Prata', serif;
	font-size: 45px;
}


#social-section img {
	width: 100%;
	height: auto;
	border-radius: 7px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}

/*CLIENTS AND AFFILIATES*/
/* Slider */
.client-container {
	padding-top:3em;

}
.client-container .customer-logos{
	padding:3em;
	margin: 0 auto;
}

.client-container h4 {
	font-size: 30px;
	font-family: 'Prata', serif;
	color: #011f5b;

}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}


/*SVG FOR TOP OF CONTENTS*/
.custom-shape-divider-bottom-1666173282 {
    position: absolute;
    bottom: 39px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666173282 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 121px;
}

.custom-shape-divider-bottom-1666173282 .shape-fill {
    fill:#D3CECA;
}


/*ABOUT US*/
.about-us{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(8, 40, 99, 1)),
    url('img/car-img5.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:75vh;
}

.blog-listing {
    padding-top: 30px;
    padding-bottom: 30px;
}
.gray-bg {
    background-color: #D3CECA;
		background-image: url("img/content-background4.jpg");
		background-repeat: no-repeat;
	  background-size: auto;
	  background-position: right;

}
/* Blog
---------------------*/
.blog-grid {
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #de4710;
  color: #ffffff;
  padding: 8px 15px;
  left: 10px;
  top: 10px;
  border-radius: 4px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #20247b;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}


/* Blog Sidebar
-------------------*/
.blog-aside .widget {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.150);
  border-radius: 13px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
	transition: 0.30s;
}


.blog-aside .widget-body {
  padding: 15px;

}
.blog-aside .widget-title {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #de4710;
  margin: 0;
	font-family: 'Prata', serif;

}
.blog-aside .list-group-item{
	font-family: 'Roboto Condensed', sans-serif;
	color: #20247b;
	font-size: 20px;
	margin: 0;

}
.blog-aside .list-group-item:hover{
cursor: pointer;
color: #de4710;
}
.blog-aside .widget-author .media {
  margin-bottom: 15px;
}
.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}
.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-aside .widget-author h6 {
  font-weight: 600;
  color: #20247b;
  font-size: 22px;
  margin: 0;
  padding-left: 20px;
}
.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #20247b;
  font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #6F8BA4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
  border-radius: 3px;
}
.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 19px;
	font-family: 'Roboto Condensed', sans-serif;
}
.blog-aside .latest-post-aside .lpa-title a {
  color: #20247b;
  font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-meta a {
  color: #6F8BA4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #20247b;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.tag-cloud a:hover {
  background: #de4710;
}

.blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
  margin: 15px 0 30px;
}
.article p{
  font-family: 'Roboto Condensed', sans-serif;
	font-size:19px;
	line-height:20pt;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #de4710;
  border-bottom: 1px solid #de4710;
}
.article .article-title h2 {
  color: #20247b;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body {
  padding-left: 8px;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #de4710;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #20247b;
  font-weight: 600;
  margin-bottom: 15px;
}
.article-content{
	padding:25px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #de4710;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #20247b;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #20247b;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

/* Contact Us
---------------------*/
.contact-name {
  margin-bottom: 30px;
}
.contact-name h5 {
  font-size: 22px;
  color: #20247b;
  margin-bottom: 5px;
  font-weight: 600;
}
.contact-name p {
  font-size: 18px;
  margin: 0;
}

.social-share a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
}
.social-share .dribbble {
  box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
  background-color: #ea4c89;
}
.social-share .behance {
  box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
  background-color: #0067ff;
}
.social-share .linkedin {
  box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
  background-color: #0177ac;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #20247b;
  background: transparent;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
}
.contact-form .form-control:focus {
  border-bottom: 1px solid #fc5356;
}
.contact-form .form-control.invalid {
  border-bottom: 1px solid #ff0000;
}
.contact-form .send {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .contact-form .send {
    margin-bottom: 20px;
  }
}

.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}
.section-title {
    padding-bottom: 45px;
}
.contact-form .send {
    margin-top: 20px;
}
.px-btn {
    padding: 0 50px 0 20px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    color: #20247b;
    background: none;
    border: none;
}
.px-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background: transparent;
    border: 1px solid rgba(252, 83, 86, 0.6);
    border-right: 1px solid transparent;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    width: 60px;
    height: 60px;
}
.px-btn .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
}
.px-btn .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.internal-container{
  border-radius: 13px;
  transform: translate(5px,-200px);/*OVERLAPPING DIVS OVER */
}
.internal-container .article-img img{
  border-radius: 7px;
}
.blog-aside{
  transform: translate(-50px,-90px);/*OVERLAPPING DIVS OVER */

}
.gray-bg{
  margin-top:-40px;
}

 .display-3{
   font-size:8em;
   line-height:5em;
   font-family: 'Prata', serif;
	 color: #ffffff;

 }
/*ABOUT US END*/

/*TIMELINE*/

.history-wrapper {
    position: relative;
    padding: 50px 0 50px;
}
.text-secondary{
	font-family: 'Aktura', serif;
	font-size:70px !important;
}
.history-wrapper:after {
    content: "";
    width: 3px;
    height: 100%;
    background: #ededed;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.history-wrapper .title-wrap {
    opacity: 0.2;
    padding: 100px 0 0 45px;
}
.history-wrapper .timeline-box {
    position: relative;
		transition: 0.30s;
}
.rounded{
	border-radius:1.5rem!important;
}
.history-wrapper .timeline-box img:hover {
	transform: scale(1.1);
}
.history-wrapper .one-of-two h3{
	font-family: 'Prata', serif;

}
.history-wrapper .one-of-two h3:hover{
	font-family: 'Prata', serif;
	color: #de4710;
	cursor:pointer;
}




.history-wrapper .one-of-two p{
	display:-webkit-box; /*restricting text to oneline*/
	-webkit-line-clamp:2;/*restricting text to oneline*/
	-webkit-box-orient:vertical;/*restricting text to oneline*/
	overflow:hidden;/*restricting text to oneline*/}

.section-heading h2{
	font-family: 'Prata', serif;

}
.one-of-two {
    width: 50%;
    float: left;
}
.history-wrapper .timeline-box:not(:last-child) {
    margin-bottom: 140px;
}
.timeline-box:nth-child(2n) {
    padding: 0 0 0 140px;
}
.history-wrapper .timeline-box:nth-child(2n) {
    margin-bottom: 140px;
}
.history-wrapper .timeline-box:nth-child(2n + 1) {
    margin-top: -24%;
    text-align: right;
}
.timeline-box:nth-child(2n + 1) {
    padding: 0 140px 0 0;
}
.year {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    top: 30%;
    color: #308355;
    transform: translateY(-50%);
    border: 1px solid #dbdbdb;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
		font-family: 'Prata', serif;
}
.timeline-box:nth-child(2n) .year {
    left: 25px;
}
.timeline-box:nth-child(2n + 1) .year {
    right: 32px;
}
.year:before {
    content: "";
    width: 15px;
    height: 15px;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background: #ffffff;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
}
.timeline-box:nth-child(2n) .year:before {
    left: -8px;
    transform: rotate(45deg);
}
.timeline-box:nth-child(2n + 1) .year:before {
    right: -8px;
    transform: rotate(-135deg);
}
.timeline-box:after {
    content: "";
    width: 3px;
    height: 0;
    background: #ffa200;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.timeline-box:nth-child(2n):after {
    left: -1.5px;
}
.timeline-box:nth-child(2n + 1):after {
    right: -1.5px;
}
.timeline-box:hover:after {
    height: 97px;
}
.timeline-box:before {
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 5px solid #ededed;
    position: absolute;
    background: #fff;
    z-index: 2;
    top: 30%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.timeline-box:nth-child(2n):before {
    left: -10.5px;
}
.timeline-box:nth-child(2n + 1):before {
    right: -10.5px;
}
.timeline-box:hover:before {
    border: 5px solid #ffa200;
}
@media screen and (max-width: 1199px) {
    .year {
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 22px;
    }
}
@media screen and (max-width: 991px) {
    .history-wrapper {
        padding: 30px 0 30px;
    }
    .history-wrapper .title-wrap {
        padding: 0;
        margin-bottom: 30px;
    }
    .title-wrap.one-of-two {
        width: 100%;
    }
    .history-wrapper:after {
        left: 0;
    }
    .history-wrapper .timeline-box:nth-child(2n) {
        padding: 0 0 0 140px;
    }
    .history-wrapper .timeline-box:not(:last-child) {
        margin-bottom: 40px;
    }
    .timeline-box.one-of-two,
    .timeline-box .img img {
        width: 100%;
    }
    .history-wrapper .timeline-box:nth-child(2n + 1) {
        margin-top: 0;
        text-align: left;
    }
    .timeline-box:nth-child(2n + 1) .year {
        left: 32px;
    }
    .timeline-box:nth-child(2n + 1):before {
        left: -10.5px;
    }
    .timeline-box:nth-child(2n + 1) .year:before {
        left: -8px;
        transform: rotate(45deg);
    }
    .timeline-box:nth-child(2n + 1):after {
        left: -1.5px;
    }
    .history-wrapper .timeline-box:nth-child(2n + 1) {
        margin-top: 0;
        text-align: left;
    }
    .timeline-box:nth-child(2n + 1) {
        padding: 0 0 0 140px;
    }
}
@media screen and (max-width: 767px) {
    .history-wrapper:after,
    .year,
    .timeline-box:before {
        display: none;
    }
    .history-wrapper {
        padding: 0;
    }
    .history-wrapper .timeline-box:nth-child(2n),
    .history-wrapper .timeline-box:nth-child(2n + 1) {
        padding: 0 15px;
    }
    .history-wrapper .timeline-box:not(:last-child) {
        margin-bottom: 30px;
    }
    .timeline-box .content {
        text-align: center;
    }
    .timeline-box:nth-child(2n):after,
    .timeline-box:nth-child(2n + 1):after {
        display: none;
    }
}

.mb-1-6, .my-1-6 {
    margin-bottom: 1.6rem;
}
/*TIMELINE END*/


/*WELCOME PAGE*/
.embed-responsive-item{
    border-radius: 10px;
    overflow: hidden;
}
.teacher-title{
	font-family: 'Prata', serif;
	color: #de4710;

}
.teacher-name{
	font-family: 'Cormorant Garamond', serif;
	color:#000;
	font-style:italic;
}

/*WELCOME PAGE END*/


/*GALLERY 2 */

.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #D1CCC8;
}
.gallery2-container{
	background-color: #ffffff;
	border-radius: 15px;
	padding:3em;
	transform: translate(0px,-250px);/*OVERLAPPING DIVS OVER */
}
/* Blog
---------------------*/
.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
	background-color: #ffffff;
}
.blog-grid .blog-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.blog-grid .card-img-top{
	border-radius: 10px;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #de4710;
  color: #ffffff;
  padding: 8px 15px;
  left: 0;
  top: 10px;
  font-size: 14px;
}
.blog-grid .blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 10px;
  background: #011F5B;
	background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
	transition:0.3s;
}
.blog-grid .blog-info:hover{
	transform: translate(0px,-20px);/*OVERLAPPING DIVS OVER */

}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
	font-family:'Prata', serif;

}
.blog-grid .blog-info h5 a {
	color: #ffffff;
}
.blog-grid .blog-info p {
  margin: 0;
	color: #ffffff;
	display:-webkit-box; /*restricting text to oneline*/
	-webkit-line-clamp:1;/*restricting text to oneline*/
	-webkit-box-orient:vertical;/*restricting text to oneline*/
	overflow:hidden;/*restricting text to oneline*/

}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
	font-family: 'Roboto Condensed', sans-serif;

}

.px-btn-arrow {
    padding: 0 50px 0 0;
    line-height: 20px;
    position: relative;
    display: inline-block;
		color: #ffffff;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}


.px-btn-arrow .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    -moz-transition: ease right 0.3s;
    -o-transition: ease right 0.3s;
    -webkit-transition: ease right 0.3s;
    transition: ease right 0.3s;
}

.px-btn-arrow .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*GALLERY 2 END*/

/*NEWS*/
.card-header-news{
	background: #de4710;
	color:#ffffff;
	font-size:25px;
	font-weight:900;
	padding: 20px;
	font-family: 'Prata', serif;
	border-radius:10px 10px 0 0!important;
	background-image: url("https://www.transparenttextures.com/patterns/skulls.png");


}
.news-container .card{
	border:none;
}
.news-container .card-body{
	box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
	border-radius: 10px;
	background: #011F5B;
	background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
	padding: 40px;
	margin: -30px 20px 0;
}
.news-container .card-body h5{
	font-size:25px;
	font-weight:900;
	font-family: 'Prata', serif;
	color:#ffff;
}
.news-container .card-body p{
	font-size:18px;
	font-weight:700;
	color:#ffff;
}
.news-container .text-time{
	color:#ffff;
}
.news-container .btn-bar{
	font-family: 'Roboto Condensed', sans-serif;
}



/*NEWS END*/


/*CONTACT FORM*/
.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}



/*FOOTER*/
.footer {
	font-family: 'Prata', serif;
	position: relative;
	background-color: #011F5B;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

.footer ul li {
	color: #ffffff;
	font-size: 16px;
	line-height: 2;

}

.footer .col-lg-4 img {
	height: 100px;
	margin: 4px 2px;
}

.footer .col-lg-4 h3 {
	color: #ffffff;
}

.footer .col-lg-4 h4 {
	color: #ffffff;
	font-size: 16px;
	line-height: 3;
}

.footer .copyright {
	background-color: #de4710;
	color: #ffffff;
	padding: 1em;
	border-top: 0px solid #fff;
	position: absolute;
	width: 100%;
}

.footer-logo-text {
	font-size: 50px;
	font-family: 'Aktura', serif;
	color: silver;

}

.footer .btn {
	position: fixed;
	bottom: 70px;
	right: 20px;
	display: none;
	z-index: 1;
	background-color: #de4710;
	padding: 0.8em 1.2em;
	color: #FBFBFD;
	font-weight: 600;
	font-size: 18px;
  transition: 0.30s;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;

}

.footer .btn:hover {
	border-radius:50%;
	border:1px solid #de4710;
	color: #de4710;
	background-color: #fff;
	-webkit-box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.35);
	box-shadow: 16px 16px 12px -9px rgba(0, 0, 0, 0.35);
	transform: rotate(360deg);
}
.footer .btn:active {
  color: #00FF00;
  box-shadow: 5px 2px 3px rgba(0,0,0,0.40);
}
.footer .img-thumbnail{
	transition: 0.30s;
	-webkit-transition: 0.30s;
	-moz-transition: 0.30s;
	-ms-transition: 0.30s;
	-o-transition: 0.30s;
}
.footer .img-thumbnail:hover{
	cursor: pointer;
	transform: scale(1.05);

}
